.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(#000, .5);

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px;
        font-size: 14px;
    }

    &__logo{
        margin-right: 20px;
    }

    // MEDIA
    @media (max-width: $tablet){
        &.active{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            background-color: #fff;

            .header__inner{
                display: flex;
                align-items: center;
                height: 100vh;
                margin: 0;
            }

            .header__logo{
                position: absolute;
                top: 20px;
                left: 15px;
                z-index: 999;
            }
        }
    }
}