.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    // &__inner{
    //     display: flex;
    //     justify-content: space-between;
    // }

    &__list{
        list-style:none;
        display: flex;
        align-items: center;

        &--right{
            .nav__item{
                padding: 0;
                margin-right: 10px;

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }

    &__item{
        padding: 13px 24px;
    }

    &__link{
        color: #585858;
        text-decoration: none;
        position: relative;

        &::after{
            display: block;
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 2px;
            border-radius: 20px;
            opacity: 0;
            background-color: $red;
            transition: opacity .2s linear;
        }

        &:hover::after{
            opacity: 1;
        }
    }

    // MEDIA
    @media (max-width: $laptop){
        // display: none;
        &__item{
            padding: 6px 10px;
        }
        .btn{
            padding: 6px 10px;
        }
    }

    @media (max-width: $tablet){
        display: none;

        &.active{
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: scroll;
            height: 100%;
            padding: 20px 0;

            .nav__list{
                display: flex;
                flex-direction: column;
                justify-content: center;

                &--left{
                    margin-bottom: 20px;
                }
            }

            .nav__item{
                font-size: 18px;
                margin-bottom: 20px;

                &:last-child{
                    margin-bottom: 0;
                }

                .btn{
                    padding: 13px 24px;
                }
            }
        }
    }

    @media (max-width: $mobile-landscape) and (max-height: $mobile){
        &.active{
            justify-content: flex-start;
        }
    }
}