.section{
    padding: 49px 0;
    overflow: hidden;
    
    &--intro{
        padding-top: 100px;
        .section__title{
            font-size: 112px;
            font-weight: 700;
        }

        .section__text-block{
            width: 28%;
        }
        .section__image-block{
            width: 68%;
        }
    }

    &--review{
        .section__text-block{
            width: 58%;
        }
        .section__image-block{
            width: 38%;
        }

        .section__title{
            margin-bottom: 64px;
        }
    }

    &__inner{
        display: flex;
        flex-direction: column;
    }

    &__title-container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 47px;
    }

    &__title-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 68%;

        & .section__title{
            margin-bottom: 0;
        }
    }

    &__title{
        font-size: 48px;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 47px;
        mark{
            background-color: transparent;
            color: $red;
        }
    }

    &__content{
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__text-block{
        width: 48%;
    }

    &__text{
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 48px;
        padding: 10px 0;
    }

    &__image-block{
        width: 48%;
        img{
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    // MEDIA
    @media (max-width: $laptop){
        &--intro{
            .section__title{
                font-size: 80px;
            }
        }

        &__text{
            margin-bottom: 20px;
        }

        &__title-wrapper{
            width: 100%;
        }
    }

    @media (max-width: $tablet){
        &__content{
            flex-direction: column;
            align-items: center;
        }

        &--intro{
            .section__text-block{
                order:2;
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .section__title{
                font-size: 60px;
            }
            .section__text{
                font-size: 18px;
            }
    
            .section__image-block{
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .section__text-block{
            width: 100%;
        }

        .section__image-block{
            width: 100%;
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
        }

        &__title-wrapper{
            flex-direction: column;
            align-items: flex-start;
            .section__title{
                margin-bottom: 48px;
            }
        }
    }

    @media (max-width: $mobile){
        &--intro{
            .section__title{
                font-size: 40px;
            }

            .section__text-block{
                width: 100%;
            }
            
            .section__text{
                font-size: 16px;
            }
        }
        
        &__title{
            font-size: 35px;
        }
    }
}