.text-block{
    &--center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &--conditionals{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        .text-block__inner{
            width: 60%;
        }
    }

    &__list{
        margin-bottom: 72px;
        font-size: 15px;
    }

    &__item{
        position: relative;
        // padding-left: 80px;
        margin-bottom: 48px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    &__icon{
        position: absolute;
        left: -70px;
    }

    &__content{

    }

    &__title{
        font-weight: 700;
        margin-bottom: 8px;
    }

    &__text{
        line-height: 1.6;
    }

    // MEDIA
    @media (max-width: $laptop){
        &__list{
            margin-bottom: 48px;
        }

        &--conditionals{
            .text-block__inner{
                width: 80%;
            }
        }
    }

    @media (max-width: $tablet){
        &--conditionals{
            .text-block__inner{
                width: 100%;
            }
        }

        &__inner{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item{
            position: static;
            display: flex;
            align-items: flex-start;
        }

        &__icon{
            position: static;
            display: block;
            left: auto;
            margin-right: 20px;
        }
    }
}