// reset
@import 'vendor/reset';
// vars
@import 'vars';

html{

}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.6;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

.wrapper{

}

.container{
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn{
    display: block;
    padding: 13px 24px;
    border-radius: 4px;
    text-decoration: none;
    color: inherit;
    transition: background .2s linear;

    &:hover{
        background-color: lighten($red, 20%);
    }

    &--red{
        background-color: $red;
        &:hover{
            background-color: darken($red, 10%);
        }
    }

    // MEDIA
    @media (max-width: $laptop){
        padding: 6px 10px;
    }
}

// button
.btn-button{
    background-color: transparent;
    border: 0;
    padding: 0;
}

// text-center
.centered{
    text-align: center;
}

// no-scroll
.no-scroll{
    // position: fixed;
    overflow: hidden;
}
// Components
@import "components/container";
@import "components/header";
@import "components/nav";
@import "components/search";
@import "components/section";
@import "components/text-block";
@import "components/review";
@import "components/partners";
@import "components/footer";
@import "components/slider";
@import "components/burger";